.Pagination {
	li {
		display: inline-flex;
		&:selected {
			background-color: #eb5a1e;
			color: #fff;
		}

		a {
			text-align: center;
			align-items: center;
			line-height: 42px;
			width: 40px;
			height: 40px;
			color: #eb5a1e;
			border: 1px solid #eb5a1e;
			border-radius: 50%;
			margin-right: 10px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover {
				background-color: #eb5a1e;
				color: #fff;
			}
		}
	}

	:global {
		.selected {
			a {
				background-color: #eb5a1e;
				color: #fff;
			}
		}
	}
}


