
.active {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.015em;
	color: #ffffff;
	background: #282828;
	border-radius: 30px;
	padding: 13px 16px;
	cursor: pointer;
}

.default {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.015em;
	color: #282828;
	background:  #F9F9F9;
	border-radius: 30px;
	padding: 13px 16px;
	cursor: pointer;
	transition: all .3s;
	margin-left: 10px;
	margin-right: 10px;
	&:hover {
		background-color: #cbc8c8;
	}
}
