.container{
    padding-top: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    &Descr{ 
        max-width: 300px;
        p{
            margin-bottom: 40px;
           }
        h2{
            margin-bottom: 20px;
        }
    }
    &Image {
        max-width: 260px;
        justify-content: center;
    }
}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.wrapTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
    padding-right: 10px;
}