.default {
	background: #ffffff;
	color: #eb5a1e;
	border: 1px solid #eb5a1e;
	border-radius: 30px;
	padding: 11px 14px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .3s ease-in-out;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	&:hover {
		background: #eb5a1e; 
		color: white;
		.plusName {
			fill: #ffffff;
		}
		.itemSpan {
			background: #ffffff;
			color: #eb5a1e;
			transition: all .3s ease-in-out;
		}
	}
	
	
	.plusName {
		margin-right: 5px;
	}

	.itemSpan {
		margin-left: 5px;
		width: 22px;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		padding: 7px 3px;
		background-color: #eb5a1e;
		color: #ffffff;
		border-radius: 50%;
	}
}
