.header {
	display: flex;
	justify-content: space-between;
	padding: 52px 55px;
}

.wrapper {
	display: flex;
	align-items: center;
    cursor: pointer;
}

.container {
	margin-left: 17px;
}

.title {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #181818;
}

.sub {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7b7b7b;
}

.button {
	display: flex;
	justify-content: space-between;
	background: #fe5f1e;
	border-radius: 30px;
	border: 1px solid #fe5f1e;
	padding: 15px 23px 19px;
    cursor: pointer;
    transition: all .3s;
}

.button:hover { 
    background: #eb5a1e;
}

.totalPrice {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	border-right: 1px solid rgba(255, 255, 255, 0.25);
	padding-right: 13px;
}

.totalProduct {
	display: flex;
	align-items: center;
	padding-left: 13px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}

.totalProduct svg {
	margin-right: 6px;
}