.header {
	display: flex;
	justify-content: space-between;
	padding: 52px 55px;
	border-bottom: 1px solid #F7F7F7;
}

.wrapper {
	display: flex;
	align-items: center;
    cursor: pointer;
}

.container {
	margin-left: 17px;
}

.title {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #181818;
	@media (max-width: 700px) {
		font-size: 20px;
	}
	@media (max-width: 500px) {
		font-size: 15px;
	}
}

.sub {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7b7b7b;
	@media (max-width: 700px) {
		font-size: 10px;
	}
	@media (max-width: 500px) {
		font-size: 10px;
	}
	@media (max-width: 500px) {
		display: none;
	}
}

.button {
	display: flex;
	justify-content: space-between;
	background: #fe5f1e;
	align-items: center;
	border-radius: 30px;
	border: 1px solid #fe5f1e;
	padding: 15px 23px 19px;
    cursor: pointer;
    transition: all .3s;
	@media (max-width: 500px) {
		padding: 10px 19px 15px;
	}
	
}

.button:hover { 
    background: #eb5a1e;
}

.totalPrice {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	border-right: 1px solid rgba(255, 255, 255, 0.25);
	padding-right: 13px;
	@media (max-width: 500px) {
		font-size: 10px;
		display: flex;
		margin: 0;
		justify-content: space-between;
	}
}

.totalProduct {
	display: flex;
	align-items: center;
	padding-left: 13px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	@media (max-width: 500px) {
		font-size: 10px;
	}
}

.totalProduct svg {
	margin-right: 6px;
}