.wrapper {
	display: flex;
}

.sortContainer {
	width: 93px;
}

.span {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.015em;
	color: #fe5f1e;
	border-bottom: 1px dashed #fe5f1e;
	cursor: pointer;
	@media (max-width: 1000px) {
		font-size: 10px;
	}
}

.active { 
	background: rgba(243, 76, 10, 0.1);
	color: #fe5f1e;
	font-weight: bold;
}

.sortInner { 
	display: flex;
	align-items: center;
	
}

.popup {
	position: absolute;
	z-index: 1;
	transform: translateX(120px) translateY(15px);
	width: 132px;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	padding-top: 13px;
	padding-bottom: 10px;
	@media (max-width: 1500px) {
		transform: translateX(50%) translateY(20px);
	}
	@media (max-width: 900px) {
		transform: translateX(50%) translateY(20px);
	}
	@media (max-width: 950px) {
		transform: translateX(30%) translateY(20px);
	}
	@media (max-width: 650px) {
		transform: translateX(20%) translateY(20px);
	}
}

.popupHidden {
	display: none;
}

.popup li {
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 14px;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.015em;
	cursor: pointer;
	transition: all 0.3s;
}

.popup li:hover {
	background: rgba(254, 95, 30, 0.05);
	color: #fe5f1e;
}

.b {
	margin-left: 7px;
	margin-right: 7px;
	@media (max-width: 1200px) {
		font-size: 14px;
	}
	@media (max-width: 960px) {
		font-size: 10px;
		
	}
}
